In [1]:
# import all modules here.
import pandas as pd

In [3]:
# constants
VACCINATION_CSV_URL = "http://api.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv"
CASES_CSV_URL = "https://api.covid19india.org/csv/latest/state_wise_daily.csv"

In [4]:
# downloads the csv and convert it into pandas dataframe
vaccine_df = pd.read_csv(VACCINATION_CSV_URL)
cases_df = pd.read_csv(CASES_CSV_URL)

In [6]:
vaccine_df.head()

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276.0
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604.0
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449.0
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525.0
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280.0

In [ ]:
cases_df.head()